<div class="container my-3">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @flat.picture_url %>)">
    <%= @flat.name %>
  </div>
  <%= link_to "Back to list", root_path %>
  <%= link_to "Edit", edit_flat_path(@flat) %>
</div>
